* {
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*feuille de style du site Phase 2 webForce 3*/
/*google font utilisé dans le style Oswald, Lemonada et Anton*/
body {
    background-image: url(../img/concrete-texture.png);
}
/*************************TITRES - TEXTES - ETC****************************/
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 44px;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;
}
h2 {
    font-size: 35px;
    color: #2c3b50;
    /* padding: 20px; */
    font-weight: bold;
    /*ombre porté sur le lettrage*/
    text-shadow: 1px 1px 2px #aaa;
}
h3 {
    font-size: 22px;
    color: #2c3b50;
    /* padding: 15px; */
    /*ombre porté sur le lettrage*/
    text-shadow: 1px 1px 2px #aaa;
}
h4 {
    text-align: center;
    margin-top: 30px;
}
blockquote {
    font-style: italic;
    font-size: 120%;
}
strong {
    font-weight: bold;
}
/*******************************HEADER INDEX ET SITE********************/
header {
    background-color: #2c3b50;
    /* height: 175px; */
}
#logo {
    background-color: #2c3b50;
    width: 25%;
    float: left;
    /*padding: 15px;*/
    text-align: center;
}
#slogan {
    background-color: #2c3b50;
    width: 50%;
    float: left;
    padding-top: 50px;
}
#social {
    background-color: #2c3b50;
    width: 25%;
    float: left;
}
/*******************************DENUT NAV*******************************/
nav {
    background-color: #2980b9;
    height: 70px;
    padding: 15px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
}
nav a {
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px;
    border: 2px solid #fff;
    background: #6acafc;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}
nav a:hover{
    background-color: #2c3b50;
    color: #fff;
}
.active {
    background-color: #2c3b50;
    color: #fff;
}
main {
    /* - Alphaopacité de la couleur*/
    background-color: rgba(178, 178, 178, 0.30);
    margin: 0 auto;
    width: 1200px;
}
aside {
    height: 250px;
    background: #06d6c3;
}
section {
    background: #daf7a6;
    margin-top: 50px;
    padding: 20px;
}
footer {
    background: #2980b9;
    height: 30px;
    color: #fff;
}
/*****************************LA PAGE ZONING*****************************/
/*le zoning 1*/
#zoning1 {
    background: #ffd6d6;
    border: 1px solid #000;
    width: 798px;
    margin: auto;
    text-align: center;

}
#zoning1 header {
    background-color: #f7f390;
    height: 70px;
}
#zoning1 aside {
    background-color: #10828c;
    height: 525px;
    float: left;
    width: 20%;
    color: #fff;
}
#zoning1 section {
    height: 525px;
    width: 80%;
    background: #38817a;
    float: left;
    margin: 0;
    padding: 0;
}
/*********************************ZONING 2*********************************/
#zoning2 {
    background: #ffd6d6;
    border: 1px solid #000;
    width: 798px;
    margin: auto;
    text-align: center;
}
#zoning2 header {
    background-color: #f7f390;
    height: 70px;
    padding: 0;
    margin: 0;
}
#zoning2 aside {
    background-color: #10828c;
    height: 525px;
    float: left;
    width: 20%;
    color: #fff;
    color: #fff;
}
.milieu {
    height: 525px;
    width: 60%;
    background: #38817a;
    float: left;
    margin: 0;
    padding: 0;
}
/*********************************ZONING 3*********************************/
#zoning3 {
    background-color: #ffd6d6;
    width: 800px;
    text-align: center;
    color: #fff;
    margin: auto;
}
#zoning3 section {
    height: 525px;
    float: left;
    width: 50%;
    background: #205d67;
    margin: 0;
    padding: 0;
    border: 10px solid #fff;
}
#zoning3 footer {
    height: 70px;
    float: left;
    width: 100%;
    background: #d8ebb5;
    color: #000;
}
/*********************************ZONING 4*********************************/
#zoning4 {
    background: #fff;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border: 20px dotted rgb(255, 0, 0);
}
#zoning4 header {
    height: 100px;
    background: #10828c;
}
#zoning4 nav {
    height: 50px;
    background: #bed4e2;
    border-bottom: 0;
}
#zoning4 section {
    height: 200px;
    border: 20px dotted rgb(74, 238, 74);
}
#zoning4 footer {
    height: 100px;
    background: #6acafc;

}
/*********************************ZONING 5*********************************/
#zoning5 {
    background: #ecebe9;
    border: 1px solid #000;
}
#zoning5 section {
    padding: 0;
    margin: 0;
}
#zoning5 header {
    background: #f8d771;
    height: 100px
}
#zoning5 nav {
    background: #205d67 ;
    height: 50px;
    border-bottom: 0;
}
#zoning5 .section {  
    padding: 0;
    margin: 0;
}
#zoning5 .section .z1, .z2, .z3, .z4 {
    float: left;
    width: 50%;
    height: 250px;
    border: 2px solid #000;
}
#zoning5 .z1, .z4 {
    background: #f8d771;
}
#zoning5 .z2, .z3 {
    background: #fce38a;
}
#zoning5 footer {   
    background: #5f4b10; 
    height: 50px;
    color: #000;
    padding: 0;
}
/*********************************ZONING 6*********************************/
#zoning6 {
    width: 800px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
#zoning6 section {  
    float: left;
    width: 75%;
    height: 250px;
    margin: 0;
    padding: 0;
}
#zoning6 header {  
    background: #40a497;
    height: 180px;  
}
.haut1 {
    background: #203562;
    float: left;
    width: 25%;
    height: 100%;
}
.haut2 {
    background: #3e588f;
    float: left;
    width: 50%;
    height: 100%;
}
.haut3 {
    background: #203562;
    float: left;
    width: 25%;
    height: 100%;
}
#zoning6 nav {
    background: #0b5269;
    border-bottom: 0;
    height: 80px;
}
#zoning6 aside {
    background: #446878;
    float: left;
    width: 25%;
    height: 650px;
}
.slideshow {
    background: #314a52;
    height: 250px;
}
#zoning6 .a {
    background: #c0c5cd;
    float: left;
    width: 50%;
    height: 250px;
}
#zoning6 .b {
    background: #203562;
    float: left;
    width: 50%;
    height: 250px;
}
#zoning6 .c, .e {
    background: #c0c5cd;
    float: left;
    width: 25%;
    height: 150px;
}
#zoning6 .d, .f {
    background: #203562;
    float: left;
    width: 25%;
    height: 150px;
}
#zoning6 footer {
    height: 70px;
    float: left;
    width: 100%;
    background: #d8ebb5;
    color: #000;
  
}
/*********************************FLOAT*********************************/
.clear {
    clear: both;
}

